*{
  font-family: 'Open Sans', sans-serif;
}


p {
  font-family: Arial, Arial, Helvetica, sans-serif;
}

.MainNav{
  background-color:rgb(0, 38, 100);
  border-bottom:4px red solid;
}

.MainNav .nav-link{
  color:#fff !important;
  font-size:1.2rem;
}

.Footer{
  position: fixed;
  bottom:0px;
  left:0px;
  width:100%;
  color: #868e96;
  font-size: .9rem;
  border-bottom:4px red solid;
  border-top:1px rgb(186, 190, 198) solid;
  background-color:#fff;
}

.MainNav  .nav-item a {
  border-bottom:4px rgb(0, 38, 100) solid;
}
.MainNav .nav-item a:hover {
  border-bottom:4px red solid;
  transition: all .2s ease-in-out;
}

.nav-item div:hover{ cursor: pointer; border-color:#999 !important;}
.nav-item .active { border-color:#adb5bd !important; background-color:rgba(0,0,0,.03) !important;}


#searchResultList .list-group{
  position: absolute;

  right: 30px;
  z-index:100;
}


#StakeHolders .card-body li strong {max-width:150px; display:inline-block}
#StakeHolders .card-body li span { min-width:150px; display:inline-block}


ol.breadcrumb {
  background-color: unset !important;
}

.cursor-pointer,
.SearchLinkHolder{
  cursor: pointer;
}
.SearchLinkHolder a.SearchLink{
  text-decoration: none;
}
.SearchLink b{
  background-color: #002664;
  color:#FFF;
}

.file-content-view{
  max-width: 780px !important;
}

.ocr-upload-preview{
  width:100%;
  text-align: center;
  margin:auto
}

.ocr-drag-drop{
  cursor: pointer
}


.rotate{
  animation: rotation infinite 3s linear;
}

@keyframes rotation{
  from{
    transform:rotate(0deg);
  }

  to{
    transform:rotate(360deg);
  }
}

.alert-heading{
  text-transform: capitalize;
}


.accordion-button:not(.collapsed) {
  color: #fff;
  background-color: #002664;
  border-bottom: 4px red solid;
}

.card-header,
.accordion-button.collapsed {
  color: #fff;
  background-color: #0A7CB9;
}

.accordion-body{
  min-height:350px;
}

.tileInner button{
  border:0px;
  background-color: #FFF;
  width:100%;
}


.tileContent {
  margin: 0 0 25px -15px;
  padding: 0;
}

.tileTable {
  border-collapse: separate;
  border-spacing: 15px 5px;
  display: table;
  height: 100%;
  width: 100%;
}
.tileTable a {
  border-bottom: none;
  color: #002664;
  display: block;
  height: inherit;
  padding-bottom: 10px;
  text-decoration: none;
}


.tileRow {
  display: table-row;
  height: inherit;
}

.tileCell {
  display: table-cell;
  height: inherit;
  margin: 0;
  padding: 0;
  text-align: left;
  vertical-align: top;
  width: 33.33333%;
}
.tileInner {
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-bottomright: 4px;
  background: url(https://www.spatial.nsw.gov.au/__data/assets/image/0020/224804/arrow.png) 21px bottom no-repeat;
  border: 1px solid #CCC;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: 1px 1px 4px #ccc;
  height: inherit;
  width: 100%;
  padding-bottom: 35px;
}


.tileImage {
  padding-bottom: 10px;
}

.tileImage img {
  border-bottom: 1px solid #CCC; width: 100%;
}


.tileText p {
   color: #3F3F3F;
   font-size: 0.9em;
  text-align: left;
   margin: 0 20px 25px 20px;
 }

.top-links{
  padding: 0px;
  border-radius: 5px;
}

.tab-selected{
  border-color: rgb(150, 150, 150);
  box-shadow: rgb(150, 150, 150) 2px 2px 6px;
}


.no-items-to-show{
  text-align: center;
  font-size: 1.2em;
  color: #3f3f3f;
  padding: 20px;
  border-width: 2px;
  border-radius: 2px;
  border-color: rgb(238, 238, 238);
  border-style: dashed;
  background-color: rgb(250, 250, 250);

}
.no-items-to-show p{
  margin:0px;
}